.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.botonesCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    background-color: rgba(172, 172, 172, 0.514);
    width: 70%;
    height: 70%;
    padding: 20px;
    border-radius: 10px;
}

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 167, 166);
    font-size: 30px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all ease .4s;
}

.caja:hover {
    background-color: rgb(134, 134, 134);
}