
* {
    padding: 0px;
    margin: 0px;
}

.main {
    justify-content: center;
    background-color: #B3A492;
    padding: 3%;
    width: 95%;
    display: inline-block;
}

.title {
    font-family:monospace;
    display: flex;
    justify-content: center;
}

.buttons {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.table {
    margin-top: 1%;
}

.api {
    margin-top: 1%;
}

